* {
  font-family: "Roboto Mono", monospace;
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.text-and-fields {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sign-up {
  position: relative;
  left: 100px;
  border-radius: 20px;
  padding: 0.5rem;
  border: none;
  color: white;
  width: 8rem;
  margin: 10px;
  background-color: rgb(255, 45, 66);
}

.small-logo {
  position: relative;
  bottom: 400px;
  right: 250px;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 242, 246);
  width: 50vw;
}
